:root{
	--oscuro 	: #010217;	/*oscuro*/
	--claro		: #c3e5f1;	/*claro*/
	--blanco	: #ffffff;	/*blanco*/
	--negro		: #000000;	/*negro*/
}


*{
	box-sizing: border-box;
}

body{
	font-family: 'Quicksand';
	font-size: 1.6vw;
	font-weight: 400;
	background-color: var(--oscuro);
	background: linear-gradient(180deg, rgba(1, 2, 23,1) 94.5%, rgba(82,184,205,1) 100%);
	color: var(--blanco);
	width: 100%;
	height: 100%;
}

a, ul, li{
	text-decoration: none;
	color: var(--blanco);
}

h1, h2, h3, h4, h5, p{
	padding: 0;
	margin: 0;
}

p{
	font-family: 'Roboto';
}

main{
	margin: 40px 0;

}

.marco{
	margin: 0 15%;
}

header{
	padding: 20px 0;
	border-bottom: solid 2px var(--claro);
}

header .menu{
	padding: 0 5%;
}

header nav{
	
	display: flex;
	justify-content: space-between;
	font-size: 35px;
}

header nav a:hover{
	color: var(--claro);
}

.container{

}

.row{
	
}

.column{
	padding: 0;
	margin: 0;
}

.column .column-left{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.column .column-left .cover{
	width: 100%;
	height: 25vw;
	position: relative;
}

.column .column-left .cover .btn{
	background-color: var(--claro);
	border-radius: 100%;
	padding: 1vw;
	position: absolute;
}

.column .column-left .cover .btn-right{	
	right: -2.1vw;
	bottom: -2.1vw;
    background: linear-gradient(90deg, rgba(1, 2, 23,1) 0%, rgba(82,184,205,1) 100%);
}

.column .column-left .cover .btn-left{
	right: 66.7vw;
	bottom: -2.1vw;
    
    background: linear-gradient(90deg, rgba(82,184,205,1) 0%, rgba(1, 2, 23,1) 100%);
}

.column .column-left .cover .btn i{
	display: block;
	font-size: 2.5vw;
}

.column .column-left .cover .img-cover{
	width: 100%;
	height: 100%;
}

.column .column-left .cover .img-cover img{
	width: 100%;
	height: 100%;
}

.column .column-left .cover .img-cover .impar{
	border-radius: 20px 0 0 0;
}

.column .column-left .cover .img-cover .par{
	border-radius: 0 20px 0 0;
}

.column .column-left .cover .img-circle{
	position: absolute;
	bottom: -20%;
	left: 41%;
}

.column .column-left .cover .img-circle img{
	display: block;
	width: 12vw;
	height: 12vw;
	border-radius: 100%;
	border: solid 3px var(--blanco);
}

.column .column-left .d-left{
	background-color: var(--claro);
	width: 100%;
	height: 15vw;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 3vw;
}

.column .column-left .d-impar{
	border-radius: 0 0 0 20px;
    background: linear-gradient(90deg, rgba(1, 2, 23,1) 5%, rgba(82,184,205,1) 100%);
}

.column .column-left .d-par{
	border-radius: 0 0 20px 0;
    background: linear-gradient(90deg, rgba(82,184,205,1) 5%, rgba(1, 2, 23,1) 100%);
}

.column .column-right{
	display: none;
	background-color: var(--blanco);
	color: var(--claro);
	padding: 10px;
}


footer{
	border-top: solid 2px var(--claro);
	padding: 1.2vw 0;
	text-align: center;
	font-size: 1vw;
}